@using System.Web.Mvc.Html
@model FreelanceApplication.Models.FreelanceDescription

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FreelanceDescription</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.City, new SelectList(new List<string>
                {
                    "Бобруйск",
                    "Барановичи",
                    "Борисов",
                    "Барань",
                    "Белоозерск",
                    "Береза",
                    "Березино",
                    "Березовка",
                    "Браслав",
                    "Брест",
                    "Буда-Кошелево",
                    "Быхов",
                    "Василевичи",
                    "Верхнедвинск",
                    "Ветка",
                    "Вилейка",
                    "Витебск",
                    "Волковыск",
                    "Воложин",
                    "Высокое",
                    "Ганцевичи",
                    "Глубокое",
                    "Гомель",
                    "Горки",
                    "Городок",
                    "Гродно",
                    "Давид-Городок",
                    "Дзержинск",
                    "Дисна",
                    "Добруш",
                    "Докшицы",
                    "Дрогичин",
                    "Дубровно",
                    "Дятлово",
                    "Ельск",
                    "Жодино",
                    "Жабинка",
                    "Житковичи",
                    "Жлобин",
                    "Заславль",
                    "Иваново",
                    "Ивацевичи",
                    "Ивье",
                    "Калинковичи",
                    "Каменец",
                    "Кировск",
                    "Клецк",
                    "Климовичи",
                    "Кличев",
                    "Кобрин",
                    "Копыль",
                    "Коссово",
                    "Костюковичи",
                    "Кричев",
                    "Крупки",
                    "Лепель",
                    "Лида",
                    "Логойск",
                    "Лунинец",
                    "Любань",
                    "Ляховичи",
                    "Мозырь",
                    "Малорита",
                    "Марьина Горка",
                    "Микашевичи",
                    "Минск",
                    "Миоры",
                    "Могилев",
                    "Молодечно",
                    "Мосты",
                    "Мстиславль",
                    "Мядель",
                    "Новополоцк",
                    "Наровля",
                    "Несвиж",
                    "Новогрудок",
                    "Новолукомль",
                    "Орша",
                    "Осиповичи",
                    "Ошмяны",
                    "Пинск",
                    "Полоцк",
                    "Петриков",
                    "Поставы",
                    "Пружаны",
                    "Речица",
                    "Рогачев",
                    "Светлогорск",
                    "Свислочь",
                    "Сенно",
                    "Скидель",
                    "Славгород",
                    "Слоним",
                    "Слуцк",
                    "Смолевичи",
                    "Сморгонь",
                    "Солигорск",
                    "Старые Дороги",
                    "Столбцы",
                    "Столин",
                    "Толочин",
                    "Туров",
                    "Узда",
                    "Фаниполь",
                    "Хойники",
                    "Чаусы",
                    "Чашники",
                    "Червень",
                    "Чериков",
                    "Чечерск",
                    "Шклов",
                    "Щучин"
                }),
                    "Выберите город",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor(model=>model.Title, new SelectList(new string[] { "Наращивание ногтей", "Наращивание волос", "Наращивание волос", "Мобильная разработка", " Веб разработка", "Разработка Windows приложений" }), "Выберите занятость", htmlAttributes: new { @class = "form-control"})*@
                @Html.DropDownListFor(model=>model.Title, new SelectList(new List<string>
                {
                    "Наращивание ногтей",
                    "Наращивание волос",
                    "Мобильная разработка",
                    "Веб разработка",
                    "Разработка Windows приложений",
                    "Копирайтер",
                    "SEO-копирайтер",
                    "Журналист",
                    "Корреспондент",
                    "Редактор",
                    "PR-специалист",
                    "Контент-менеджер",
                    "Ведущий рассылок",
                    "Корректор",
                    "Спичрайтер",
                    "Рерайтер",
                    "Рерайтер на ленте новостей",
                    "Сценарист",
                    "Админ/модератор форума",
                    "Расшифровщик записей (транскрибер)",
                    "Веб-дизайнер",
                    "Информационный дизайнер",
                    "Дизайнер интерфейсов",
                    "Технический дизайнер",
                    "Иллюстратор",
                    "Графический дизайнер ",
                    "Моушн дизайнер ",
                    "Баннермейкер",
                    "Дизайнер полиграфии ",
                    "Флешер",
                    "3D-дизайнер",
                    "Визуализатор",
                    "Геймдевелопер",
                    "Арт-директор",
                    "Дизайнер интерьеров",
                    "Ландшафтный дизайнер",
                    "Вебмастер",
                    "Веб-программист",
                    "1С-программист",
                    "Системный администратор",
                    "Тестировщик",
                    "Переводчик",
                    "Технический переводчик",
                    "Переводчик художественных текстов",
                    "Переводчик сайтов",
                    "Переводчик рекламы, рекламных слоганов",
                    "Переводчик компьютерных игр, фильмов, презентаций",
                    "Менеджер",
                    "Менеджер проектов",
                    "Руководитель группы фрилансеров",
                    "Менеджер по продажам",
                    "Режиссер",
                    "Редактор",
                    "Маркетолог",
                    "Специалист по продвижению сайтов (SEO)",
                    "Оптимизатор сайтов",
                    "Линк-менеджер",
                    "Верстальщик сайтов",
                    "Веб-аналитик",
                    "Специалист по контекстной рекламе",
                    "Директолог",
                    "Медиапланировщик",
                    "Специалист по работе в социальных сетях",
                    "SMM-специалист",
                    "Специалист по SMO (оптимизация сайтов к социальным сетям",
                    "Инженер по схемам",
                    "Инженер машиностроения",
                    "Инженер конструктор",
                    "Инженер слаботочных сетей",
                    "Инженер-электрик",
                    "Инженер-теплотехник",
                    "Инженер водоснабжения и канализации",
                    "Инженер-технолог",
                    "Архитектор",
                    "Видеооператор",
                    "Видеомонтажер",
                    "Композитор",
                    "Аранжировщик песен",
                    "Диктор",
                    "Блоггер",
                    "Интернет-коуч",
                    "Бизнес-тренер",
                    "Писатель",
                    "Фотограф",
                    "Ретушер фотографий",
                    "Репетитор",
                    "Бухгалтер",
                    "Модель",
                    "Преподаватель",
                    "Учитель",
                    "Художник",
                    "Манимейкер"
                }).OrderBy(x=>x.Text),
                    "Выберите занятость",
                    new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" value="@ViewBag.UserId" name="UserId" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
