@using FreelanceApplication.Models
@model FreelanceApplication.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get">
    <table class="table">
        <tr>
            <th>
                Тип занятости
            </th>
            <th>
                Город
            </th>
            <th></th>
            @*<th>
                Минимальная цена
            </th>
            <th>
                Максимальная цена
            </th>*@
        </tr>
    <tr>
    <th>@Html.DropDownList("Title", new SelectList(new List<string>
        {
            "Наращивание ногтей",
            "Наращивание волос",
            "Мобильная разработка",
            "Веб разработка",
            "Разработка Windows приложений",
            "Копирайтер",
            "SEO-копирайтер",
            "Журналист",
            "Корреспондент",
            "Редактор",
            "PR-специалист",
            "Контент-менеджер",
            "Ведущий рассылок",
            "Корректор",
            "Спичрайтер",
            "Рерайтер",
            "Рерайтер на ленте новостей",
            "Сценарист",
            "Админ/модератор форума",
            "Расшифровщик записей (транскрибер)",
            "Веб-дизайнер",
            "Информационный дизайнер",
            "Дизайнер интерфейсов",
            "Технический дизайнер",
            "Иллюстратор",
            "Графический дизайнер ",
            "Моушн дизайнер ",
            "Баннермейкер",
            "Дизайнер полиграфии ",
            "Флешер",
            "3D-дизайнер",
            "Визуализатор",
            "Геймдевелопер",
            "Арт-директор",
            "Дизайнер интерьеров",
            "Ландшафтный дизайнер",
            "Вебмастер",
            "Веб-программист",
            "1С-программист",
            "Системный администратор",
            "Тестировщик",
            "Переводчик",
            "Технический переводчик",
            "Переводчик художественных текстов",
            "Переводчик сайтов",
            "Переводчик рекламы, рекламных слоганов",
            "Переводчик компьютерных игр, фильмов, презентаций",
            "Менеджер",
            "Менеджер проектов",
            "Руководитель группы фрилансеров",
            "Менеджер по продажам",
            "Режиссер",
            "Редактор",
            "Маркетолог",
            "Специалист по продвижению сайтов (SEO)",
            "Оптимизатор сайтов",
            "Линк-менеджер",
            "Верстальщик сайтов",
            "Веб-аналитик",
            "Специалист по контекстной рекламе",
            "Директолог",
            "Медиапланировщик",
            "Специалист по работе в социальных сетях",
            "SMM-специалист",
            "Специалист по SMO (оптимизация сайтов к социальным сетям",
            "Инженер по схемам",
            "Инженер машиностроения",
            "Инженер конструктор",
            "Инженер слаботочных сетей",
            "Инженер-электрик",
            "Инженер-теплотехник",
            "Инженер водоснабжения и канализации",
            "Инженер-технолог",
            "Архитектор",
            "Видеооператор",
            "Видеомонтажер",
            "Композитор",
            "Аранжировщик песен",
            "Диктор",
            "Блоггер",
            "Интернет-коуч",
            "Бизнес-тренер",
            "Писатель",
            "Фотограф",
            "Ретушер фотографий",
            "Репетитор",
            "Бухгалтер",
            "Модель",
            "Преподаватель",
            "Учитель",
            "Художник",
            "Манимейкер"
        }).OrderBy(x => x.Text),
            "Выберите занятость",
            new { @class = "form-control" })</th>
    <th>@Html.DropDownListFor(model => model.City, new SelectList(new List<string>
        {
            "Бобруйск",
            "Барановичи",
            "Борисов",
            "Барань",
            "Белоозерск",
            "Береза",
            "Березино",
            "Березовка",
            "Браслав",
            "Брест",
            "Буда-Кошелево",
            "Быхов",
            "Василевичи",
            "Верхнедвинск",
            "Ветка",
            "Вилейка",
            "Витебск",
            "Волковыск",
            "Воложин",
            "Высокое",
            "Ганцевичи",
            "Глубокое",
            "Гомель",
            "Горки",
            "Городок",
            "Гродно",
            "Давид-Городок",
            "Дзержинск",
            "Дисна",
            "Добруш",
            "Докшицы",
            "Дрогичин",
            "Дубровно",
            "Дятлово",
            "Ельск",
            "Жодино",
            "Жабинка",
            "Житковичи",
            "Жлобин",
            "Заславль",
            "Иваново",
            "Ивацевичи",
            "Ивье",
            "Калинковичи",
            "Каменец",
            "Кировск",
            "Клецк",
            "Климовичи",
            "Кличев",
            "Кобрин",
            "Копыль",
            "Коссово",
            "Костюковичи",
            "Кричев",
            "Крупки",
            "Лепель",
            "Лида",
            "Логойск",
            "Лунинец",
            "Любань",
            "Ляховичи",
            "Мозырь",
            "Малорита",
            "Марьина Горка",
            "Микашевичи",
            "Минск",
            "Миоры",
            "Могилев",
            "Молодечно",
            "Мосты",
            "Мстиславль",
            "Мядель",
            "Новополоцк",
            "Наровля",
            "Несвиж",
            "Новогрудок",
            "Новолукомль",
            "Орша",
            "Осиповичи",
            "Ошмяны",
            "Пинск",
            "Полоцк",
            "Петриков",
            "Поставы",
            "Пружаны",
            "Речица",
            "Рогачев",
            "Светлогорск",
            "Свислочь",
            "Сенно",
            "Скидель",
            "Славгород",
            "Слоним",
            "Слуцк",
            "Смолевичи",
            "Сморгонь",
            "Солигорск",
            "Старые Дороги",
            "Столбцы",
            "Столин",
            "Толочин",
            "Туров",
            "Узда",
            "Фаниполь",
            "Хойники",
            "Чаусы",
            "Чашники",
            "Червень",
            "Чериков",
            "Чечерск",
            "Шклов",
            "Щучин"
        }),
            "Выберите город",
            new { @class = "form-control" })</th>
    @*<th>@Html.EditorFor(model => model.MinPrice, new { htmlAttributes = new { @class = "form-control" } })</th>
            <th>@Html.EditorFor(model => model.MaxPrice, new { htmlAttributes = new { @class = "form-control" } })</th>*@
    <th><input type="submit" value="Фильтр" class="btn btn-default" /></th>

    </tr>
    </table>
    

</form>
    <table class="table">
        <tr>
            <th>
                CompanyName
            </th>
            <th>
                ContactEmail
            </th>
            <th>
                City
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.FreelanceDescriptions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
